.sidebar {
    width: 320px;
    background: var(--bg-sidebar);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-main);
    height: calc(100vh - 60px);
    gap: 12px;
}

.top {
    border-bottom: 1px solid #e5e5e5;
}

.content {
    flex: 1;
    overflow-y: hidden;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.section {
    margin-bottom: 20px;
}
.private-chat-wrapper {
    margin-top: 10px;
}
.chat-header {
    display: flex;
    position: sticky;
    justify-content: space-between;
}
.title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #888;

    top: 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        background: rgba(0, 0, 0, 0.05);
    }
}
