.wrapper {
    display: flex;
    align-items: top;
    padding: 4px 8px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    height: 60px;

    &:hover {
        background: var(--bg-hover);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.info {
    flex: 1;
    margin-left: 12px;
    line-height: 1.5;
}
.name {
    color: var(--text-main);
}

.last-message {
    font-size: 1rem;
    color: var(--text-muted);

    width: 200px; /* hoặc width theo parent, ví dụ 100% */
    white-space: nowrap; /* không xuống dòng */
    overflow: hidden; /* ẩn phần text tràn */
    text-overflow: ellipsis; /* hiện ... khi text bị cắt */
    display: inline-block; /* cần để width có tác dụng */
}

.status-icon {
    color: var(--primary);
    font-size: 0.5rem;
    margin-left: 4px;
}
